*{
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
  border-bottom: 1px solid blue;
  border-top: 1px solid blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  line-height: 20pt;

  margin-left: 60px;
  margin-right: 60px;

}
strong::after {
  content:"  !";
}


h1 {
  font-size: 40pt;
  text-align: right;
  z-index: 9000
}

h3 {
  text-align: center;
}

h3::first-letter {
font-size: 30pt;
}

hr {
  height: 5px;
  border-color: blue;
}

.dove {
  margin-top: -50px;
  margin-left: 50px;
  margin-right: 50px;
}

.dove-text {
  color: blue;
  position: absolute;
  right: 200px;
  bottom: 200px;
  font-size: 50pt;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  text-shadow: 2px 1.5px 4px #FF0000;
}

.shelf {
  font-size: 30pt;
  color: white;
}

.made-by{
  text-align: center;
}

.module {
  width: 520px;
  height: 330px;
  margin: 30px;
  border: 2px solid red;
  -webkit-box-shadow: 0px 10px 66px -5px rgba(255,0,0,1);
  -moz-box-shadow: 0px 10px 66px -5px rgba(255,0,0,1);
  box-shadow: 0px 10px 66px -5px rgba(255,0,0,1);
  border-radius: 25px;
}

.other{
  clear:both;
}

.list {
  padding-top: 30px;
}

.list2 {
  padding-top: 30px;
  text-align: center;
}

.btn {
  font-size: 13pt;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin-top: 30px;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: red;
  border-bottom-color: #7D47D0;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 300;
}

.btn:hover {
  background-color: #2B0A7B;
  border-bottom-color: #7D47D0;
}

.module-hr{
  height: 2px;
  border-color: blue;
  width: 30%;
  display: block;
  height: 1px;
  border-top: 1px solid blue;
  padding: 1px;
 }
 .wrap {
   min-width: 1300px;
 }
.end-message{
 clear: both;
 text-align: center;
}

#soar {
  color: red;
}

#blue-small {
  color: blue;
}

#sign-up {
  float: right;
}

#features {
  float: left;
    text-align: center;
}

#dove2-img {
  float: right;
}

#dove3-img {
  float: left;
}

#eli {
  float: left;
}

#uni {
  float: right;
}

#tyrell {
  position: relative;
  left: 170px;
}

#dove-img {
  width: 500px;
  height: 500px;
  margin-left: -100px;
}

#bluebar {
  color: blue;
  font-size: 50pt;
}

#madeblue{
  font-size: 40pt;
}

#bluebar2 {
  color: blue;
  font-size: 40pt;
}
#bar {
  color: blue;
}

#rep{
  color: red;
  font-size: 15pt;
}


#gimmespace {
  margin-top: 350px;
}
#dove {
  position: relative;
}
